root = true

[*]
indent_style = tab
indent_size = tab
trim_trailing_whitespace = false
insert_final_newline = true
max_line_length = 80
space_after_control_statements = true
spaces_around_operators = true